table  {
    table-layout: fixed;
    width: 60%;
    text-align: center;
}
 td, th {
    border: 2px solid black;
    
}

tbody th{
    background-color: #fbfa9b;
}
td[class="columna_precio"] {
    text-align: right;
    
}
thead{
    background-color: #caeaf5;
}

tfoot {
    text-align: right;
    background-color: #c2f49e;
}

