@charset "utf-8";
body {
    background-color: #D5DBDB;
}
header,nav,main,section,article,footer, aside{
    padding: 5px;
    margin-top: 10px;
}
p {
    color: white;
    margin-left: 10px;
    font-weight: bold; ;
    
}

header {
    background-color: orangered;
    height: 80px;
    width: 730px;
    border-radius: 20px 20px;
    
}

nav {
    background-color: yellow;
    height: 80px;
    width: 730px;
    border-radius: 20px 20px;
}

main {
    background-color: teal;
    border-radius: 20px 20px;
    width: 510px;
    height: 300px;
    display: block;
}

article {
    background-color: turquoise;
    border-radius: 20px 20px;
    width: 200px;
    height: 80px;
    position:absolute;
  
    
}
.articulo1{
    top: 350px;
    left: 40px;
}
.articulo2{
    top: 350px;
    left: 280px;
}

aside {
    background-color: royalblue;
    border-radius: 20px 20px;
    height: 300px;
    width: 200px;
    position: absolute;
    left: 540px;
    bottom: 65px;
}

footer {
    background-color: turquoise;
    border-radius: 20px 20px;
    position: relative;
    bottom: 0px;
    width: 730px;
    height: 80px;
}