table {
    table-layout: fixed;
    text-align: center;
    width: 300px;
    height: 450px;
    border-collapse: collapse;
    font-size: 40px;
}

td[class="ultima"] {
    background-color: #f39434;
    color: white;
}

td[class="resul"] {
    background-color: #757472;
    text-align: right;
    padding-right: 20px;
    color: white;
}

td[class="elcero"] {
    background-color: #e0e0e0;
    text-align: left;
    padding-left: 20px;
}

tr[class="nkjn"] {
    background-color: #e0e0e0;
    border-top-style: none;
}

td {
    border: grey solid 1px;
}