.contenedor {
    width: 800px;
    height: 400px;
    position: relative;
    display: inline-flex;
    background-color: grey;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.section1 {
    background-color: #5f93f0;
    border-radius: 10px 0px 0px 10px;
    text-align: center;
    position: relative;
    color: white;
    padding: 30px;
    margin: 7px 0px 7px 7px;
    width: 200px;
    font-size: 15px;
}

.section2 {
    position: flex;
    padding: 20px;
    margin: 7px 7px 7px 0px;
    background-color: white;
    border-radius: 0px 10px 10px 0px;
    width: 600px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

button {
    background-color: #5187e9;
    border-radius: 50px;
    padding: 10px;
    text-align: center;
    color: white;
    margin-left: 385px;
    width: 120px;
}

.input{
    width: 500px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-color: grey;
}

h1{
    margin-top: 100px;
}
p{
    font-size: 12px;
}